{% extends 'layout/base.twig' %}

{% block title %}Kreta.io - Modern project management software{% endblock %}
{% block content %}
    <div class="index__container">
        <picture>
            <source srcset="/images/bg-400.jpg" media="(max-width: 400px)">
            <source srcset="/images/bg-767.jpg" media="(max-width: 767px)">
            <source srcset="/images/bg-1024.jpg" media="(max-width: 1024px)">
            <source srcset="/images/bg-1440.jpg" media="(max-width: 1440px)">
            <img class="index__image" src="/images/bg.jpg">
        </picture>

        <div class="index__caption">
            <img class="index__logo" src="/images/logo.svg"/>
            <h1 class="index__title">Modern project manager for software development.</h1>
            <p class="index__subtitle">Subscribe to our newsletter</p>
            <form class="index__subscribe">
                <div class="index__subscribe-fields">
                    <input class="index__email" type="email" placeholder="Your email"/>
                    <input class="index__submit" type="submit" value="Submit"/>
                </div>
            </form>
            <img class="index__loading" src="/images/spin.svg"/>
            {% include 'component/svg_icon.twig' with {
                icon: 'success',
                svgClass: 'index__success'
            } %}
            {% include 'component/svg_icon.twig' with {
                icon: 'error',
                svgClass: 'index__error'
            } %}
        </div>
    </div>
    <div class="index__follow">
        <span>Follow us:</span>
        <a class="index__follow-link" href="http://twitter.com/kreta_io">
            {% include 'component/svg_icon.twig' with {
                icon: 'twitter',
                svgClass: 'index__follow-icon'
            } %}
        </a>
        <a class="index__follow-link" href="http://github.com/kreta">
            {% include 'component/svg_icon.twig' with {
                icon: 'github',
                svgClass: 'index__follow-icon'
            } %}
        </a>
    </div>
{% endblock %}
