.index__container {
  position: relative;
}

.index__image {
  height: 100vh;
  object-fit: cover;
  width: 100%;
}

.index__caption {
  left: 50%;
  max-width: 540px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.index__logo {
  fill: $white;
  height: 160px;
  margin-bottom: -37px;
  width: 300px;
}

.index__title {
  color: $white;
  font-size: 18px;
  margin-bottom: 60px;
  text-align: center;
  text-transform: none;
}

.index__subtitle {
  color: $white;
  padding: 0 10px;
  text-align: left;
}

.index__subscribe-fields {
  display: flex;
  justify-content: center;
}

.index__email {
  border: 0;
  border-radius: 3px 0 0 3px;
  font-family: $body-font-family;
  font-size: 16px;
  height: 40px;
  padding: 0 10px;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

.index__submit {
  -webkit-appearance: none;
  background: $green;
  border: 0;
  border-radius: 0 3px 3px 0;
  color: $white;
  cursor: pointer;
  font-size: 17px;
  height: 40px;
  padding: 0 30px;
  position: relative;
  transition: background .3s;

  &:hover {
    background: lighten($green, 10);
  }
}

.index__subscribe--hidden {
  display: none;
}

.index__loading,
.index__success,
.index__error {
  display: none;
}

.index__loading--show,
.index__success--show,
.index__error--show {
  display: block;
  fill: $white;
  height: 40px;
  margin: auto;
}

.index__follow {
  align-items: center;
  bottom: 20px;
  color: $white;
  display: flex;
  position: fixed;
  right: 50px;
}

.index__follow-icon {
  fill: rgba($white, .8);
  height: 35px;
  margin-left: 10px;
  transition: fill .3s;
  width: 35px;

  &:hover {
    fill: $white;
  }
}

